body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    color: white;
    font-size: 1em;
    background-color: black;
    width: 100vw;
    height: 100vh;


}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 25vh 25vh 25vh 25vh;
}


li {
    list-style: none;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: white;
    transition: background 1s linear
}

a:hover {
    background-color: darkgray;
    transition: background 500ms ease-in-out;

}

nav a {
    font-size: 1.5em;
}

h1 {
    padding-left: 1em;
}

#item1 {}

#item2 {}

#item3 {}

#item4 {

    position: absolute;
    right: 5vw;
    top: 5vh;
}

#item5 {}

#item6 {}

#item7 {}

#item8 {}

#item9 {

    position: absolute;
    bottom: 5vh;
}

#item10 {}

#item11 {}

#item12 {

    position: fixed;
    bottom: 5vh;
    right: 5vw;
}

#video {

    width: 100%;
    height: 100%;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: span 2;

}



/*heb de width gepakt van iPhone 8 en nieuwer*/

@media (max-device-width: 23.4em) {


    nav a {
        font-size: 1.2em;
    }

    #item12 {
        top: 5%;
        right: 6%;
    }

    #item4 {
        top: 5%;
        left: 53%;
    }

    #item9 {
        top: 5%;
        left: 35%;
    }

    h1 {
        padding-left: 0.5em;
    }

    #video {
        visibility: hidden
    }

}
